hanayama/hanayama.rnc

namespace ixml="http://invisiblexml.org/NS"
start = hanayama
hanayama = element hanayama { ixml-state?, section+ }
ixml-state = attribute ixml:state {text}
section = element section { category, puzzles }
category = element category { text }
puzzles = element puzzles { puzzle+ }
puzzle = element puzzle { name, puzzleData, note? }
name = element name { text }
puzzleData = element puzzleData { text }
note = element note { text }
